$font-size: 14px;
$heading-font: 'Roboto Condensed', sans-serif;
$subheading-font: 'Abel', sans-serif;
$body-font:'Droid Sans', sans-serif;


$dark-blue: #132b3f;
$light-blue:#0092db;
$light-orange:#ff4e00;
$dark-orange:#e04c0b;

$pad-regular: 1rem;

$navbar-brand-padding-y: .55rem; 
$nav-link-padding: $pad-regular *1.5;
$navbar-inverse-color: inherit;
$navbar-inverse-hover-color: inherit;
$navbar-inverse-active-color: $light-orange;
$navbar-inverse-hover-color: inherit;